terngrad/bazel-bin
terngrad/bazel-ci_build-cache
terngrad/bazel-genfiles
terngrad/bazel-out
terngrad/bazel-inception
terngrad/bazel-terngrad
terngrad/bazel-testlogs
terngrad/bazel-tf
/.idea
*/.idea
*.pyc
